.home{
    color: #000000;
    width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    margin-top: 151px;
    h2, p{

    
    text-align: center;
    }
    h2{
        margin-bottom: 40px;
    }

    p{
        font-family: Noto Sans;
            font-size: 15px;
            font-weight: 400;
            line-height: 23.43px;
            text-align: center;
            margin-bottom: 60px;
    }

    button{
        background-color: #76DE37;
        border: none;
        color: #000000;
        width: 218px;
        margin: 0 auto;
        font-family: Oswald;
            font-size: 24px;
            font-weight: 400;
            line-height: 35.57px;
            padding: 0;
    }
}