.dashboard{
    border: 1px solid #999999;
    border-radius: 50px;
    padding: 20px;
    height: 710px;
    button{
        border: 1px solid #999999;
        background-color: transparent;
        margin-left: 10px;
        color: black;
    }
}

    .dashboardTitle{
        span{font-size: large;
            border: 1px solid #999999;
            border-radius: 22px 8px 22px 22px;
            padding: 0 14px;}
        
    }

    
main{
    background-color: transparent;
}